# jana_tools
/_ideas.md
/_jana_tools/
/tests/
/docs/

# python
.pytest_cache
**/__pycache__
*.pyc
*.egg-info
.ipynb_checkpoints

# py3DED and abTEM
*.zarr/
*.zarr/**

# copied from abTEM
.tox
.hypothesis
.idea
.DS_Store

# possibly SPHINX
build
dist


# Comments allowed!
# Blank lines allowed

# DIRECTORY
# / at end automatically makes this a directory, e.g. tests/
# / at beginning: path relative to .gitignore